<div class="random-wrapper">
    <div class="random-container">
        {% for champion in champions %}
            <div class="random-champion active" data-result="{{ asset('img/champion/' ~ champion.codename ~ ".jpg") }}"
                 data-name="{{ champion.name }}" data-id="{{ champion.id }}">
                <img class="random-image" src="{{ asset('img/championSquare/' ~ champion.codename ~ ".jpg") }}"
                     alt="{{ champion.codename }}"
                     draggable="false"/>
            </div>
        {% endfor %}
        <div class="random-result-container hidden">
            <div class="random-result-content-container">
                <img draggable="false" alt="Result image" class="random-result-image" src="#"/>
                <p class="random-result-name"></p>
            </div>
        </div>
    </div>
    <div class="random-button-container">
        <button class="random-button random-button-skip">
            <i class="fa-solid fa-forward"></i> {{ 'random.button.skip'|trans|raw }}
        </button>
        <button class="random-button random-button-back hidden">
            <i class="fa-solid fa-chevron-left"></i> {{ 'random.button.back'|trans|raw }}
        </button>
    </div>

    <script>
        initRandomConfig();
    </script>
</div>