<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}{% endblock %}
        pickforme
    </title>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    <script src="https://kit.fontawesome.com/32d265316c.js" crossorigin="anonymous"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
{% block body %}{% endblock %}
{{ include('component/popup.html.twig') }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{ asset('js/popup.js') }}"></script>
<script>
    const chooseSubmitPath = "{{ path('choose_submit') }}";
    const battleLogPath = "{{ path('log_battle') }}";
    const randomLogPath = "{{ path('log_random') }}";
    const chooseImagePlaceholder = "{{ asset('img/champion/REPLACEME.jpg') }}";
    const translations = {
        "choose.popup.error": "{{ 'choose.popup.error'|trans|raw }}",
        "choose.popup.too-little-points": "{{ 'choose.popup.too-little-points'|trans|raw }}",
        "choose.popup.select-all-groups": "{{ 'choose.popup.select-all-groups'|trans|raw }}"
    };
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
